@if (blog(); as blog) {
  <mat-card>
    @if (blog.headerImageUrl) {
      <img mat-card-image [src]="blog.headerImageUrl" [alt]="blog.title" />
    }

    <mat-card-header>
      <mat-card-title>{{ blog.title }}</mat-card-title>
      <mat-card-subtitle>{{ blog.author }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>{{ blog.contentPreview }}</p>
    </mat-card-content>

    <mat-card-actions>
      <a mat-button routerLink="/">Zurueck</a>
    </mat-card-actions>
  </mat-card>
} @else {
  <p>Blog-Post nicht gefunden.</p>
  <a mat-button routerLink="/">Zurueck</a>
}
